.root {
  @apply relative shadow-sm transition-all duration-300;
  .child {
    @apply transition-all duration-300;
  }
  .action {
    @apply transition-all duration-300;
    display: none;
  }
}

.root:hover {
  .child {
    @apply opacity-40;
  }

  .action {
    @apply w-full pr-2 pt-2 flex justify-end z-50 absolute text-gray-900 cursor-pointer;
  }
}

.small {
  @apply text-sm;
  height: 70px;
  width: 40px;
}

.medium {
  @apply text-base;
  height: 100px;
  width: 70px;
}

.large {
  @apply text-lg;
  height: 120px;
  width: 90px;
}
